// html,body { height: 100%; margin: 0px; padding: 0px; }

// body {
//     // overflow: hidden;
// }

.photography {
    padding: 0px 50px;

    .left, .right {
        float: left;
    }
    font-size: 0.95em;
}

.photography .left {
    // background-color: yellow;
    width: 20%;
    padding: 0px;

    .logo {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    h1 {
        padding: 0px;
        margin: 0px;
        font-size: 2.5em;
        text-transform: uppercase;
        line-height: 0.85em;

        span {
             display: inline-block;
             padding-right: 0.1em;
             &:first-child {
                 position: relative;
                 z-index: 100;
                 padding-top: 0.1em;
                 padding-bottom: 0.1em;
             }
             &:nth-child(2) {
                padding-bottom: 0.1em;
             }
        }
    }

    ul {
        padding: 0px;
        list-style: none;
        margin: 0px;
        font-family: sans-serif;
        cursor: pointer;

        li.contact {
            margin-top: 2em;
        }

        ul {
            padding-left: 1.5em;
            li{
                padding: 0.15em 0em;

            }
        }
    }
}

.credit {
    position: fixed;
    bottom: 10px;
    left: 50px;
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
    .contact {
        font-size: 13px;
        text-align: center;
        margin-bottom: 3px;
    }
}

.photography .right {
    width: 80%;

    margin-top: 12.95em;
    height: 100%;
    // position: relative;

    $height: calc( 100% - 12.95em );

    .content {
        // height: 100%;
        // overflow:
        width: 100%;
        display: block;
        height: calc( 100% - 12.95em );
        padding: 0px;
        position: relative;

        ul.scrollable {
            height: calc( 100% - 12.95em );
            overflow: auto;
            list-style: none;
            padding: 0px;
            margin: 0px;
        }

        img {
            display: inline-block;
            max-height: 134px;
            margin-bottom: 3px;
            margin-right: 3px;
            cursor: pointer;
            float: left;
            list-style: none;
        }

    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    .loading {
        width: 20px;
        height: 20px;
    }

    &.openningModal {
        display: block;
    }
    .overlay {
        z-index: 0;
        background: black;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .content {
        position: relative;
        color: white;
        padding-top: 50px;
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 1000px;
            max-height: 600px;
        }
        .navigation {
             font-size: 0.8em;
             .disable {
                text-decoration: line-through;
             }
             span {
                cursor: pointer;
             }
        }
        div {
             text-transform: uppercase;
            font-family: sans-serif;
            font-weight: bold;
        }
        span {
             font-size: 11px;
             text-transform: none;
             font-weight: normal;
        }
        .hiddenZoom {
            display: none;
            background: red;
        }
    }


}
