$normal-font: sans-serif;
$main-color: #2D2D2D;
$opt-main-color: #FFF;

#project-page {
    text-align: center;
    font-family: $normal-font;

    .side-bar {
        position: fixed;
        width: 25%;
        top: 0;
        left: 0;
        height: 100%;
        background: $main-color;
        color: $opt-main-color;
    }

    .contact {
        position: absolute;
        bottom: 0.5em;
        left: auto;
        margin-left: auto;
        // background: yellow;
        width: 100%;
        i {
            color: $opt-main-color;
        }
    }

    .main-content {
        margin-left: 25%;
        width: 75%;
    }

    h1 {
        text-align: left;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        // font-family: Times;
        padding: 2em 2em 1em 2em;
    }

    ul.available-tags {

        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0;
        li.tag {
            cursor: pointer;
            display: inline-block;
            list-style: none;
            border : $opt-main-color 0.1em solid;
            padding: 0.2em 0.6em;
            margin: 0.2em;
            text-transform: lowercase;

            &.selected {
                background: $opt-main-color;
                color: $main-color;
            }
        }
    }

    div.projects {
        margin: 1em auto;
        padding: 0px;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        max-width: 980px;
        // border: black dotted 0.5px;

       -webkit-flex-flow: row wrap;
       flex-flow: row wrap;


        div.project {
            margin: 10px;
            width: 100%;
            text-align: left;
            // border-top: black solid 1px;
            position: relative;

            .project-content {
                 margin-top: 2em;
                 position: relative;
                 padding: 0em;

                 h3 {
                    margin: 1em 0em 0.5em 0;
                 }

                 .description {
                     margin-top: 0.5em;
                    text-indent: 1em;

                    .more-detail {
                        text-indent: 0px;
                        cursor: pointer;
                        font-style: italic;
                        font-weight: lighter;
                    }
                 }

                .image {
                    left: auto;
                    margin: 1em auto 0;
                    position: relative;
                    width: auto;
                    max-width: 100%;
                    max-height: 400px;
                }
            }

            .subtitle {
                position: relative;
            }

            .tags, .date {
                font-size: 0.8em;

            }
            .tags {
                float: right;
                right: 0em;
                font-weight: lighter;
                font-style: italic;
                .tag {
                     margin: 0em 0.1em;
                }

                .tag:not(:last-child):after {
                    content: ',';
                }
            }

            .date {
                float: left;
                left: 0em;
            }

        }
    }


    .toggle-selection {
        margin-bottom: 4em;
        cursor: pointer;
    }

}
