@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$icon-font-path: '../fonts/';

$font:  'Fjalla One';

body {
  font-family:$font , sans-serif;
}

a {
    text-decoration: none;
    &:hover, &:visited {
        color: black;
    }
}
