<!doctype html>
<html class="no-js" lang="" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PATTARAWAT ∆ CHORMAI</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/var.css">
    <link rel="stylesheet" href="styles/portfolio.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="PortfolioController" ng-disable-scroll="openningModal">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="portfolio">
        <div class="left">
            <div class="logo">
                <h1><span>Pattarawat</span> <span>Chormai</span></h1>
            </div>

            <ul>
                <li>
                    <span>Photography</span>
                    <!-- <ul> -->
                    <!--     <li>Concert</li> -->
                    <!--     <li>Architecture</li> -->
                    <!-- </ul> -->
                </li>
                <li>
                    <span>Design</span>
                </li>
                <li class="contact">
                    <span>Contact</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="content">
                <ul class="scrollable">
                    <li ng-repeat="d in data track by $index">
                        <img  ng-src="{{d}}" ng-click="zoom($index)"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal" ng-class="{ openningModal: openningModal }">
        <div class="content" ng-click="close()">
            <div class="navigation">
                <span ng-class="{ disable: zoomIndex == 0  }" ng-click="prev($event)">Prev(j)</span> - 
                <span ng-class="{ disable: zoomIndex == data.length - 1  }" ng-click="next($event)">Next(k)</span>
            </div>
            <img ng-src="{{zoomURL}}"/>
            <!-- <div> Plugged Festival 2016 @ TU/e</div> -->
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/ng-disable-scroll/disable-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/db.js"></script>
    <script src="scripts/portfolio.js"></script>
    <!-- endbuild -->
  </body>
</html>
