<div id="about-me-page">
  <a href="#!/" class="back-button">BACK</a>
  <div class="right-pane">
    <a href="mailto:pat.chormai@gmail.com?subject=Skill-Net issue" class="feedback">Having a problem or a suggestion related to this?</a>
    <ul class="legends">
      <li ng-repeat="l in legends" ng-mouseover="setHighlight(l)">
        <svg style="height:{{r($index)*2 + 6 }}px">
            <circle ng-cloak r="{{r($index)}}" cx="10" cy="{{(r($index)+3)}}"/>
        </svg>
        <span ng-show="showLegends(l)" ng-class="{highlight: l == highlight }">{{l}}</span>
      </li>
    </ul>
    <div class="right-box">
      <!-- <h2>Skills Net</h2> -->
      <h2>S K I L L - N E T</h2>
    </div>
    <div id="skills-net" class="highlight-{{highlight}}">
        <svg></svg>
    </div>
  </div>
  <div class="left-pane">
    <img src="images/me.png"/>
    <div class="content">
      <div class="right-box">
        <h2>A B O U T - M E</h2>
        <p>
        I'm Pat, a Thai 🇹🇭 student who persuading MS.c in Data Science at TU Berlin 🇩🇪.
        I'm currently working on <a href="https://github.com/heytitle/thesis-designing-recurrent-neural-networks-for-explainability"><b>thesis</b></a>
        and expected to graduate around April 2018.
        My current focuses are machine Learning and deep learning and big data platforms, such as Spark, Flink.
        </p>

        <p>
            I’m also interested in some other fields such as physics, web and agile development, self-discipline, social enterprise and open data
            My hobbies are football ⚽, music 🎸 and coding ⌨️.
        </p>
        </p>
        <p>
        </p>
        <ul class="contact">
          <li><a href="mailto:pat.chormai@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/pchormai"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/pattarawat.chormai"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
