<div id="about-me-page">
  <a href="#!/" class="back-button">BACK</a>
  <div class="right-pane">
    <ul class="legends">
      <li ng-repeat="l in legends" ng-mouseover="setHighlight(l)">
        <svg style="height:{{r($index)*2 + 6 }}px">
            <circle ng-cloak r="{{r($index)}}" cx="10" cy="{{(r($index)+3)}}"/>
        </svg>
        <span ng-show="showLegends(l)" ng-class="{highlight: l == highlight }">{{l}}</span>
      </li>
    </ul>
    <div class="right-box">
      <!-- <h2>Skills Net</h2> -->
      <h2>S K I L L - N E T</h2>
    </div>
    <div id="skills-net" class="highlight-{{highlight}}">
        <svg></svg>
    </div>
  </div>
  <div class="left-pane">
    <img src="images/me.jpg"/>
    <div class="content">
      <div class="right-box">
        <h2>A B O U T - M E</h2>
        <p>
            A Thai student who is persuading MS.c in Data Science at Technical University of Berlin under EIT program, expected to graduate in October 2017.  I’m interested in various fields both technical and non-technical. My current focuses are big data platforms, such as Flink, Spark and Scala, data visualization and social enterprise. I also have experiences in web development and agile methodology. In my free time, I play football and often contribute to open source projects.
        </p>
        <p>
            I’m actively looking for a part-time position related to large scale data analytic which I plan to do thesis on that topic. If you have such a position, please don’t hesitate to contact me!
        </p>
        <ul class="contact">
          <li><a href="mail:pat.chormai@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/pchormai"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/pattarawat.chormai"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
