<div id="about-me-page">
  <div class="right-pane">
    <ul class="legends">
      <li ng-repeat="l in legends">
        <svg style="height:{{r($index)*2 + 6 }}px"><circle ng-cloak r="{{r($index)}}" cx="10" cy="{{(r($index)+3)}}"></svg></circle><span>{{l}}</span>
      </li>
    </ul>
    <div class="right-box">
      <!-- <h2>Skills Net</h2> -->
      <h2>S K I L L - N E T </h2>
    </div>
    <div id="skills-net">
        <svg></svg>
    </div>
  </div>
  <div class="left-pane">
    <img src="images/me.jpg"/>
    <div class="content">
      <div class="right-box">
        <h2>A B O U T - M E</h2>
        <p>
          &nbsp;<b>Bieft Introduction</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets  containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
.
        </p>
        <ul class="contact">
          <li><a href="mail:pat.chormai@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/pchormai"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/pattarawat.chormai"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
