<div class="main">
    <img class="logo" src="images/logo.svg">
    <h1>PATTARAWAT CHORMAI</h1>

    <ul class="menus">
        <li class=""><a href="//github.com/heytitle">Projects</a></li>
        <li class=""><a href="//dribbble.com/heytitle">Design</a></li>
        <li class=""><a href="#!/photography">Photography</a></li>
        <li class=""><a href="#!/about">About Me</a></li>
        <span class="blink">_</span>
    </ul>
</div>

<div class="main-bg"></div>
<div class="footer-main">Designed by Pattarawat Chormai</div>
