<div class="photography">
    <div class="left">
        <div class="logo">
            <h1><span>Pattarawat</span> <span>Chormai</span></h1>
        </div>

        <ul>
            <li class="menu" ng-class="{ selected: selectedSet == $index }" ng-repeat="s in photoSets track by $index" ng-click="loadData($index)">
                {{s.name}}
            </li>
        </ul>

    </div>
    <div class="right">
        <div class="content">
            <ul class="scrollable">
                <li ng-repeat="d in data track by $index">
                    <img  ng-src="{{d.url_s}}" ng-click="zoom($index)"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal" ng-class="{ openningModal: openningModal }">
    <div class="overlay"></div>
    <div class="content" ng-click="close()">
        <div class="navigation">
            <span ng-class="{ disable: zoomIndex == 0  }" ng-click="prev($event)">Prev(←)</span> -
            <span>Close(ESC)</span> -
            <span ng-class="{ disable: zoomIndex == data.length - 1  }" ng-click="next($event)">Next(→)</span>
        </div>
        <div ng-class="{ hiddenZoom: loadingZoom }">
            <img ng-src="{{zoomObject.url_o}}" image-onload="finishLoading()"/>
            <div>{{ zoomObject.title }}</div>
            <span>{{ zoomObject.description }}</span>
        </div>
        <img class="loading" ng-if="loadingZoom" src="images/loading.svg"/>
    </div>
</div>

<div class="credit">
    <div class="contact">
        <a ng-href="mailto:pat.chormai@gmail.com?Subject=I like your photos">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
        <a ng-href="https://www.flickr.com/photos/132196854@N06/">
            <i class="fa fa-flickr" aria-hidden="true"></i>
        </a>
        <a ng-href="https://www.instagram.com/heytitle">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
    © 2016 All right reserved
</div>
