<div id="project-page">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    <div class="side-bar">
        <h1>PAT's <br>Projects</h1>

        <ul class="available-tags">
            <li class="tag" ng-class="{ selected: t.isSelected }" ng-repeat="t in availableTags track by $index" ng-click="selectTag($index)">{{t.name}}</li>
        </ul>

        <div class="toggle-selection" ng-click="clearSelection()">(clear selection)</div>
        <div class="contact">
            <span><a href="mailto:pat.chormai@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></span>
            <span><a href="https://www.linkedin.com/in/pchormai"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
            <span><a href="https://github.com/heytitle"><i class="fa fa-github" aria-hidden="true"></i></a></span>
        </div>
    </div>

    <div class="main-content">
        <div class="projects">
            <div class="project" ng-repeat="p in filteredProjects">
                <div class="project-content">
                    <a ng-href="{{p.url}}" target="_blank">
                        <h3>{{p.title}}

                            <span class="year">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            {{p.date}}
                            </span>
                        </h3>
                    </a>
                    <div class="subtitle">
                        <div class="date">
                            <span class="button clickable">
                                <a ng-href="{{p.url}}" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    Link
                                </a>
                            </span>
                            <span class="button clickable"  ng-show="p.code_url">
                                <a ng-href="{{p.code_url}}" target="_blank">
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    Code
                                </a>
                            </span>
                        </div>
                        <div class="tags">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <span ng-repeat="t in p.tags" class="tag">{{t}}</span>
                            </span>
                        </div>
                        <div class="clear-fix"></div>
                    </div>

                    <div class="description">
                        {{p.desc}}
                    </div>
                    <div class="center">
                        <img class="image" src="{{p.image}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
